nav.grid {
  margin-top: 2rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      width: 21%;
      margin-right: 5%;
      margin-bottom: 1.5rem;
      transition:all 1s;

      &.hovered {
        box-shadow: 1rem 1rem 1rem #eee;
        transform: rotate(2deg);
        width: 22%;
        transition: all 500ms;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
      &:not(:nth-child(4n)) {
        &.hovered {
          margin-right: 4%;
        }
      }

      img {
        width: 100%;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
      }

      .title, .desc {
        margin: .25rem 0 0;
      }
      .title {
        font-size: .75rem;
        font-weight: bold;
      }
      .desc {
        font-size: .6rem;
        @include font-georgia;
        color: $copy-color--light;
        margin-bottom: .5rem;
      }
    }
  }
}
