#quote-slider {
  background: $brand-black;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-slider {
  padding: 2rem 0 .5rem;
  blockquote {
    color: $brand-white;
    line-height: 1rem;
    line-height: 1.5rem;
    padding-left: 6rem;
    margin: 1rem 0 0 0;
    &:before {
      content: '\2018\2018';
      letter-spacing: -1rem;
      color: $brand-blue;
      position: absolute;
      font-size: 13rem;
      margin: 4rem 0 0 -7rem;
      @include font-times;
    }
  }
  cite {
    color: $brand-blue;
    float: right;
    margin: 2rem 1rem 3rem 0;
    @include font-georgia;
  }
  .slick-dots {
    bottom: auto;
    margin: 0 0 .5rem;
    position: relative;
    li {
      margin: 0;
      button {
        &:before {
          color: $brand-blue;
          opacity: 1;
          font-size: 1rem;
          content: "●";
        }
      }
      &:not(.slick-active) {
        button {
          &:before {
            opacity: 1;
            content: "○";
          }
        }
      }
    }
  }
}
