{
  "dev": {
    "username": "user",
    "password": "secret"
  },
  "client": {
    "username": "user",
    "password": "secret"
  },
  "code": {
    "username": "user",
    "password": "secret"
  }
}
