// brand colors
$brand-black: #1e1e1e;
$brand-black--rich: #151515;
$brand-white: #fff;
$brand-blue: #0096d6;

// copy
$copy-color: #424242;
$copy-color--light: #929292;
$copy-color--reverse: $brand-white;
$copy-color--footer: #666;
$header-color: $copy-color;
$header-color--reverse: $copy-color--reverse;

// other
$divider-color: #ccc;
