@mixin inline-ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }
}

@mixin box-shadow($val...) {
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  box-shadow: $val;
}

@mixin input-outline {
  // outline: -webkit-focus-ring-color auto 5px;
  @include box-shadow(0 0 3px 3px $input-outline-shadow);
}
