* {
  box-sizing: border-box;
}

html {
  font-size: 17.5px;
}

.container {
  margin: 0 auto;
  @media (max-width: $sm-max) {
    width: 100%;
    padding: 0 1rem;
  }
  @media (min-width: $md-min) and (max-width: $md-max) {
    width: 750px;
  }
  @media (min-width: $lg-min) and (max-width: $lg-max) {
    width: 970px;
  }
  @media (min-width: $xl-min) {
    width: 1170px;
  }
}

.page-header,
.page-footer {
  text-align: center;
  p {
    font-size: 1rem;
  }
}

.page-header {
  margin: 2.5rem auto 1.5rem;
  width: 75%;
}

.page-footer {
  margin: 0 0 3rem;
  p {
    margin: 0;
  }
}

.join-footer {
  margin: 1.5rem auto;
  text-align: center;
  h2 {
    margin: 0;
  }
  .btn {
    margin-left: 1rem;
  }
}

@media (max-width: $sm-max) {
  .join-footer {
    padding: 0 1rem;
    .btn {
      margin: 1rem 0;
    }
  }
}
