footer#global-footer {
  background: $brand-black--rich;
  font-size: .6rem;
  float: left;
  padding: 1rem;
  width: 100%;

  &, a {
    color: $copy-color--footer;
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
    }
  }

  nav#global-footer__links,
  nav#global-footer__social,
  .global-footer__copyright {
    display: inline-block;
  }

  nav#global-footer__links {
    text-transform: uppercase;
    ul {
      margin-right: .75rem;
      li {
        &:not(:last-of-type):after {
          content: "/";
        }
        a {
          padding: 0 5px;
        }
      }
    }
  }
  nav#global-footer__social {
    ul {
      li {
        padding: 0 .5rem;
      }
    }
  }
  .global-footer__copyright {
    float: right;
    p {
      color: $copy-color--footer;
      margin: 0;
      a {
        margin-left: .5rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
