<header id="global-header">
  <nav id="global-header__primary">
    <div id="global-header__primary__brand">
      <a href="#">
        <img src="img/resized/ifit-logo.png">
      </a>
    </div>
    <ul id="global-header__primary__navigation">
      <li>
        <a href="#">
          Login
        </a>
      </li>
      <li>
        <a href="#">
          Sign Up
        </a>
      </li>
      <li>
        <a href="#">
          Menu
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>
  </nav>
  <section id="global-header__secondary">
    <div class="page-title">
      <a href="#">Weight Loss</a>
    </div>
    <nav class="sub-navigation">
      <ul>
        <li>
          <a href="#">Overview</a>
        </li>
        <li>
          <a href="#">Features</a>
        </li>
        <li class="active">
          <a href="#">Programs</a>
        </li>
        <li>
          <a href="#">Training</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>
